@model IEnumerable<WebServer.Models.UserData>

@{
    ViewData["Title"] = "Index";
}

<h1>Пользователи</h1>

<p>
    <a asp-action="Create">Добавить пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Роль
            </th>
            <th>
                ФИО
            </th>
            <th>
                Логин
            </th>
            <th>
                Пароль
            </th>
            <th>
                Почта
            </th>
            <th>
                Онлайн
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.User_Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.User_Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.User_Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
